{% if cv.interests %}
  <div id="interests" class="entry">
    <header class="entry-header">
      <h3 class="entry-title">Interests</h3>
    </header>

    <div class="entry-content">
      {% for i in cv.interests %}
        <div class="taxonomy">
          {% if i.name %}
            <h4 class="title">{{ i.name }}</h4>
            {% if i.keywords %}
              <ul class="courses">
                {% for key in i.keywords %}
                  <li>{{ key }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
          </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
