{% if cv.projects %}
  <div id="publications" class="entry">
    <header class="entry-header">
      <h3 class="entry-title">Projects</h3>
    </header>

    <div class="entry-content">
      {% for s in cv.projects %}
          {% if s.name %}
            <h4 class="title">
              {% if s.website %}
                <a href="{{ s.website }}">{{ s.name }}</a>
              {% else %}
                {{ s.name }}
              {% endif %}
            </h4>
          {% endif %}
          {% if s.keywords %}
            <div class="keywords">{{ s.keywords | array_to_sentence_string }}</div>
          {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
